<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.lesson05.dao.WeatherHistoryDAO">
	<select id="selectAll" resultType="com.example.lesson05.model.WeatherHistory">
	select 
		*
	from 
		`weatherhistory`
	order by
		`date`
	</select>
	<insert id="insert" parameterType="map">
	insert into 
		weatherhistory
	(
		`date`, 
		`weather`, 
		`temperatures`, 
		`precipitation`, 
		`microDust`, 
		`windSpeed`)
	values
	(
		#{date},
		#{weather},
		#{temperatures},
		#{precipitation},
		#{microDust},
		#{windSpeed}
	)
		
	</insert>
</mapper>